@model IEnumerable<Market.Models.AdminUser>

@{
    ViewBag.Title = "AdminUser";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div style="padding:20px;">
    @Html.ActionLink("<<注册新的管理员帐号", "adminuserCreate")
</div>
<table width="60%" style="text-align:center">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
    </tr>
}

</table>
